.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(60,60,60,.7);
}

.modal {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 1000;
  width: 600px;
  max-width: 100%;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 3px;
  outline: 0;
  box-shadow: 0 0 5px rgba(0,0,0,.05);
  -webkit-overflow-scrolling: touch;
}

.modal-header,
.modal-content,
.modal-footer {
  padding: 15px;
}

.modal-header {
  border-bottom: 1px solid $gray-lightest;
}

.modal-footer {
  border-top: 1px solid $gray-lightest;
}

.modal-close {
  float: right;
  margin-top: -5px;
  font-size: 1.5rem;
  line-height: 1;
  color: $gray-lighter;

  &:hover {
    color: $gray-light;
    cursor: pointer;
  }
}
