.btn-primary {
  border-bottom-color: darken($brand-primary, 10%);
  border-bottom-width: 2px;

  @include hover-focus {
    background: lighten($brand-primary, 5%);
    border-color: lighten($brand-primary, 5%);
    border-bottom-color: darken($brand-primary, 5%);
  }
}

.btn-danger {
  border-bottom-color: darken($brand-danger, 10%);
  border-bottom-width: 2px;

  @include hover-focus {
    background: lighten($brand-danger, 5%);
    border-color: lighten($brand-danger, 5%);
    border-bottom-color: darken($brand-danger, 5%);
  }
}

.btn-secondary {
  @include hover-focus {
    background: #fff;
    border-color: rgb(170,170,170);
  }
}
