.tabs {
  background: #fff;
  border: 1px solid rgb(233,239,243);
  border-radius: 1px;
}

.tab-item {
  display: inline-block;
  padding: 15px 20px;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &.active {
    color: rgb(85,95,105);
    box-shadow: inset 0 -2px rgb(85,95,105);
  }
}
