::-webkit-input-placeholder { color: $input-color-placeholder; }
// scss-lint:disable VendorPrefix
::-moz-placeholder {
  color: $input-color-placeholder;
  opacity: 1;
}
// scss-lint:enable VendorPrefix
:-ms-input-placeholder { color: $input-color-placeholder; }
:placeholder-shown { color: $input-color-placeholder; }
::placeholder { color: $input-color-placeholder; }

blockquote {
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  border-left: .25rem solid $gray-lighter;
}
