mute_sidekiq: &MUTE_SIDEKIQ
  mode: "000755"
  content: |
    #!/bin/bash
    . /opt/elasticbeanstalk/support/envvars
    PIDFILE=/var/app/containerfiles/pids/sidekiq.pid
    if [ -f ${PIDFILE} ]
    then
      kill -USR1 `cat ${PIDFILE}`
      rm -rf /var/app/containerfiles/pids/sidekiq.pid
    fi

restart_sidekiq: &RESTART_SIDEKIQ
  mode: "000755"
  content: |
    #!/bin/bash
    initctl restart sidekiq || initctl start sidekiq

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/03_mute_sidekiq.sh":
    <<: *MUTE_SIDEKIQ
  "/opt/elasticbeanstalk/hooks/appdeploy/post/50_restart_sidekiq.sh":
    <<: *RESTART_SIDEKIQ
  "/opt/elasticbeanstalk/hooks/configdeploy/pre/03_mute_sidekiq.sh":
    <<: *MUTE_SIDEKIQ
  "/opt/elasticbeanstalk/hooks/configdeploy/post/50_restart_sidekiq.sh":
    <<: *RESTART_SIDEKIQ
  "/opt/elasticbeanstalk/hooks/restartappserver/pre/03_mute_sidekiq.sh":
    <<: *MUTE_SIDEKIQ
  "/opt/elasticbeanstalk/hooks/restartappserver/post/50_restart_sidekiq.sh":
    <<: *RESTART_SIDEKIQ
