<p><%= @user.name %>,<p>

<p>You have been added as a collaborator on the blog <%= @account.name %>.</p>

<p>
  You can sign up at <a href="http://ekto.tech">http://ekto.tech</a> with this
  email (<%= @user.email %>) to activate your account and you will automatically
  be given access to collaborate on the blog.
</p>

<p>- Ekto team</p>

<p style="font-size:90%;color:#ccc">
  This email was sent from http://ekto.tech. If you believe you received this in
  error, you can safely disregard.
</p>
