$xs-down: 'only screen and (max-width : 543px)';
$sm-down: 'only screen and (max-width : 767px)';
$sm-up: 'only screen and (min-width : 544px)';
$md-up: 'only screen and (min-width : 768px)';
$lg-up: 'only screen and (min-width : 992px)';
$xl-up: 'only screen and (min-width : 1200px)';

$navbar-height: 55px;
