.hero {
  padding: 100px 0;
  color: #fff;
  background: $brand-primary;
}

.hero-brand {
  padding: 20px 0;
  margin-bottom: 2rem;
  background: rgba(255,255,255,.1);
}

.cta {
  padding-left: 2rem;
  font-size: 2rem;
  border-left: 4px solid #fff;
}

.product-description {
  padding: 75px 0;
  border-bottom: 1px solid $gray-lighter;
}

.product-feature {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
