.hero {
  padding: 100px 0;
  color: #fff;
  background: $brand-primary;
}

.hero-brand {
  padding: 20px 0;
  margin-bottom: 2rem;
  background: rgba(255,255,255,.1);
}

.cta {
  padding-left: 2rem;
  font-size: 2rem;
  border-left: 4px solid #fff;
}
