<p>A request has been made to reset your password. Follow the link below to set a new password.</p>

<p>http://ekto.s3-website-us-west-2.amazonaws.com/reset/<%= @user.password_reset_token %></p>

<p>If you do not wish to reset your password, disregard this email and no action will be taken.</p>

<p>- Ekto</p>
