.markdown-guide {
  margin-bottom: 1rem;
  background: #fff;

  table {
    width: 100%;

    th { padding: 15px 20px; }

    td { padding: 10px 20px; }

    thead > tr { border-bottom: 1px solid $gray-lighter; } // scss-lint:disable SelectorDepth
  }
}
