.account-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  color: rgb(200,200,200);
  background: rgb(235,238,241);
  border-radius: 3px;
}
