.nav-link,
.navbar-brand {
  color: #fff;

  &:hover,
  &:focus {
    color: rgba(255,255,255,.8);
  }
}

.user-dropdown-trigger {
  display: flex;
  align-items: center;
  color: #fff;

  &:hover,
  &:focus {
    color: rgba(255,255,255,.8);
    text-decoration: none;
  }
}

.user-dropdown-icon {
  margin-right: .75rem;
  font-size: 16px;
}
